<p id="notice"><%= notice %></p>

<h1>User Addresses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_addresses.each do |user_address| %>
      <tr>
        <td><%= link_to 'Show', user_address %></td>
        <td><%= link_to 'Edit', edit_user_address_path(user_address) %></td>
        <td><%= link_to 'Destroy', user_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Address', new_user_address_path %>
