<%= simple_form_for setup_user(user) do |f| %>
  <%= f.input :first_name, label: 'First name', error: false, as: :string %>
  <br>
  <%= f.input :last_name, label: 'Last name', error: false, as: :string %>
  <br>
  <%= f.input :email_address, label: 'E-mail', error: false, as: :email %>
  <br>
  <%= f.input :date_of_birth, error: false, as: :date, start_year: Date.today.year - 90,
              end_year: Date.today.year %>
  <br>
  <%= f.input :phone_number, error: false, label: 'Phone number', as: :tel%>
  <br>
  <div><b>User address</b></div>
  <br>
  <%= f.simple_fields_for :user_address do |ff| %>
    <%= ff.input :country, label: 'Country', error: false, as: :string %>
    <br>
    <%= ff.input :city, label: 'City', error: false, as: :string %>
    <br>
    <%= ff.input :zip_code, label: 'Zip code', error: false, as: :string %>
    <br>
    <%= ff.input :street, label: 'Street', error: false, as: :string %>
    <br>
  <% end %>
  <div><b>User company</b></div>
  <br>
  <%= f.simple_fields_for :company do |ff| %>
    <%= ff.input :name, label: 'Company name', as: :string %>
    <br>
    <%= ff.simple_fields_for :company_address do |fff| %>
      <%= fff.input :country, label: 'Country', error: false, as: :string %>
      <br>
      <%= fff.input :city, label: 'City', error: false, as: :string %>
      <br>
      <%= fff.input :zip_code, label: 'Zip code', error: false, as: :string %>
      <br>
      <%= fff.input :street, label: 'Street', error: false, as: :string %>
      <br>
    <% end %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
  <br>
  <%= f.button :submit, class: 'btn btn-primary'%>
<% end %>
<br>
