<br>
<h1>User info</h1>
<style>
  table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
</style>
<table>
  <tr>
    <th> First name </th>
    <th> Last name</th>
    <th> Email </th>
    <th> Date of birth </th>
    <th> Phone number </th>
  </tr>
  <tr>
    <td> <%= @user.first_name %></td>
    <td> <%= @user.last_name %>
    <td> <%= @user.email_address %></td>
    <td> <%= @user.date_of_birth %></td>
    <td> <%= @user.phone_number %></td>
  </tr>
</table>
<br>
<h1>User address </h1>
<table>
  <tr>
    <th> Country </th>
    <th> City </th>
    <th> Street </th>
    <th> Zip code </th>
  </tr>
  <tr>
    <td> <%= @user.user_address.country%></td>
    <td> <%= @user.user_address.city %>
    <td> <%= @user.user_address.street %></td>
    <td> <%= @user.user_address.zip_code %></td>
  </tr>
</table>
<br>
<% unless @user.company.company_address.nil? %>
  <h1>User company info </h1>
  <table>
    <tr>
      <th> Name </th>
      <th> Country </th>
      <th> City </th>
      <th> Street </th>
      <th> Zip code </th>
    </tr>
    <tr>
      <td> <%= @user.company.name %></td>
      <td> <%= @user.company.company_address.country%></td>
      <td> <%= @user.company.company_address.city %>
      <td> <%= @user.company.company_address.street %></td>
      <td> <%= @user.company.company_address.zip_code %></td>
    </tr>
  </table>
  <br>
<% end %>
<%= link_to 'Back', users_path %>

